/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-img, url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* color: var(--accent-color, #ff0070); */
}

/* Вспомогательные классы */

/*no focus + focus */
.page-title{
  font-weight: var(--font-weight-title, bold);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color,#DB00FF);
  text-transform: lowercase;
}

.font-bold{
  font-weight: var(--font-weight-title, bold);
}

.contrast-text{
  background-color: var(--accent-color, #ff0070);
  color: var(--color-blue-1, #000028);
  font-size: var(--font-size-text, 18px);
}

/* .mr-bl-end-10{
  margin-block-end: 10px;
} */

.font-weight-normal{
  font-weight: normal;
}

.link{
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.section-title{
  font-size: var(--font-size-text, 18px);
  color: var(--section-title-color, #ff0070);
}

.section__text{
  margin-block-start: 10px;
}

.max-inline-size{
  max-inline-size: 315px;
}


/* Уголки в header и footer */
.corner {
  position: relative;
}

.corner::before,
.corner::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.corner::before {
  
  border-inline-end: 1px solid var(--color-corner, #ff0070);
  border-block-start: 1px solid var(--color-corner, #ff0070);
  inset-inline-end: 20px;
  inset-block-start: 20px;

}

.corner::after {
  border-inline-start: 1px solid var(--color-corner, #ff0070);
  border-block-end: 1px solid var(--color-corner, #ff0070);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

/* стилизация кнопок */
.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--menu-btn-color, #353430);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--menu-btn-border, rgba(255, 0, 112, .4));
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}


/* стилизация link */
.link {
  text-decoration: none;
}

.link:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.header{
  min-block-size: 668px;
  block-size: 100vh;
  padding-block: 20px;
  padding-inline-end: 20px;
  position: relative;
  display: grid;
  /* grid-template-rows: 299px 244px 185px; */
  align-items: start;
}

.rec {
  position: absolute;
  inset-inline-end: 29px;
  inset-block-start: 20px;
  display: var(--rec-dysp, inline-flex);
  visibility: var(--rec-visibility, visible);
  align-items: center;
  gap: 10px;
  z-index: -1;
}

.rec::before {
  content: "REC";
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
  border-radius: 50%;
  /* box-shadow: 0 0 2px 2px var(--accent-color, #ff0070); */
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
}

.header__theme-menu{
  justify-self: center;
  margin-inline-start: 20px;
  margin-block-end: 162px;
}

.header__theme-menu-list{
  display: flex;
  max-inline-size: 230px;
  gap: 10px;
}

.header__title{
  justify-self: start;
}

.header__subtitle{
  /* max-inline-size: clamp(364px, calc((100vw - 20px) / 2 - 10px) ,491px); */
  max-inline-size: 491px;
  /* margin-inline-end: 10px; */
  justify-self: end;
}

.main{
  padding-inline: 20px;
}

.section{
  display: grid;
  gap: 20px;
  margin-block-end: 80px;
}

.section:last-child{
  margin-block-end: 60px;
}

.section-why{
  /* min-block-size: 508px; */
  margin-block-start: 60px;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 20px;
}

.section__article-list{
  display: grid;
  gap: 20px;
}

.section-why__arcticles{
  gap: 20px;
}

.section-what__arcticles{
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-how{
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 20px;
}

.section-how__list-title{
  margin-block-end: 20px;
}

.section-how h4{
  font-weight: normal;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.gallery-list__item-high{
  grid-row-end: span 2;
}

.gallery-list__item-long{
  grid-column-end: span 2;
}

.footer{
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (width < 1024px) {

  .header__title{
    margin-block-end: calc(-0.5625rem - clamp(-0.5625rem, 1.6875rem + -3.5156vw, 0rem));
    margin-block-start: clamp(0rem, 11.0000rem + -17.1875vw, 2.75rem);
  }

  .header__theme-menu{
    justify-self: end;
    align-self: end;
    margin-block-end: 131px;
  }

  .header__theme-menu-list {
    max-inline-size: 70px;
    flex-direction: column;
    gap: 14px;
  }

  .header__subtitle{
    max-inline-size: clamp(364px, calc((100vw - 20px) / 2 - 10px) ,491px);
    margin-inline-end: 0;
    margin-block-end: -5px;
  }

  .max-inline-size{
    max-inline-size: calc(34.35rem - clamp(14.75rem, 34.1500rem + -30.3125vw, 19.6rem));
  }
  .section-what__arcticles{
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (width < 768px) {

  .rec{
    inset-inline-end: calc(3.001rem - clamp(1.188rem, 2.4094rem + -2.5445vw, 1.813rem));
    inset-block-start: calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem));
  }

  .header, .footer{
    padding-block: var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
    padding-inline-end: var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
    padding-inline-start: clamp(0rem, 1.2214rem + -2.5445vw, 0.625rem);
  }

  .corner::before {
    inset-inline-end: var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
    inset-block-start: var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
  }
  
  .corner::after {
    inset-inline-start: var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
    inset-block-end: var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
  }
  
  .page-title{
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu{
    /* margin-block-end: 23px; */
    margin-block-end: calc(9.626000000000001rem - clamp(1.438rem, 14.6288rem + -27.4809vw, 8.188rem));
  }

  .header__subtitle{
    max-inline-size: calc(44.93rem - clamp(22.18rem, 23.2939rem + -2.3206vw, 22.75rem));
  }

  .main{
    padding-inline:  var(--less-edge-page, calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem)));
  }

  .section-why, .section-how{
    grid-template-columns: 1fr;
  }
  
  .section-why{
    /* margin-block-start: 40px; */
    margin-block-start: calc(6.25rem - clamp(2.5rem, 4.9427rem + -5.0891vw, 3.75rem));
  }

  .max-inline-size{
    max-inline-size: clamp(14.75rem, 29.2697rem + -30.2494vw, 22.18rem);
  }

  .section{
    margin-block-end: calc(8.125rem - clamp(3.125rem, 6.7891rem + -7.6336vw, 5rem));
  }
  
  .section:last-child{
    margin-block-end: calc(6.25rem - clamp(2.5rem, 4.9427rem + -5.0891vw, 3.75rem));
  }

  .section-images{
    gap: 10px;
  }

  .gallery-list{
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .gallery-list__item-high{
    grid-row-end: span 1;
  }
  
  .gallery-list__item-long{
    grid-column-end: span 1;
  }
}
