/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* Темная тема */
:root{
  /* Цвета */
  --color-white: #fff1f7;

  --color-beige: #f1b2ce;
  --color-beige-2: #ffc2e6;
  
  --color-pink: #ff8dcb;

  /* Фиолетовый */
  --color-purple-1: #db00ff;
  --color-purple-2: #ff0070;
  --color-purple-2-opas40: #ff007040;

  /* синий*/
  --color-blue-1: #000028;
  --color-blue-2: #353430;
  --color-blue-2-opas40: #35343040;
  /* привязка цветов */
  --text-color: var(--color-beige, #f1b2ce);
  --title-color: var(--color-purple-1, #db00ff);


  --accent-color: var(--color-purple-2, #ff0070);
  --color-corner: var(--color-purple-2, #ff0070);
  --section-title-color: var(--color-purple-2, #ff0070);

  --font-family: 'IBM Plex mono', monospace;
  --font-size-text: 18px;
  --font-weight-title: bold;
  --font-weight-reg: normal;
  --line-hieght-def: 23.4px; 

  --bg-img: url("../images/cover-image.png");
  --bg-color: var(--color-black-1, #000028);
  
  /* Для rec */
  --rec-visibility: visible;
  --rec-dysp: inline-flex;

  --less-edge-page: calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem));
}