/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* Темная тема */
:root{
  /* Цвета */
  --accent-color: #ff0070;
  --dark-color: #000028;
  --text-color: #F1B2CE;
  --focus-color: #DB00FF;
  

  /*Шрифт*/
  --font-family: 'IBM Plex mono', monospace;
  --font-size-text: 18px;
  --font-weight-title: bold;
  --font-weight-reg: normal;
  --line-hieght-def: 23.4px;

  /* настройки темной темы*/
  --bg-color: var(--dark-color, #000028);
  --bg-img: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
  --rec-dysp: inline-flex;

  --from-20-to-10: calc(1.875rem - clamp(0.625rem, 1.8464rem + -2.5445vw, 1.25rem));
}
